<!DOCTYPE HTML>
<html>
	<head>
		<title>Today's Headlines</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}
		<link rel="stylesheet" href="{% static 'polls/assets/css/main.css' %}" />
		<link rel="icon" href="{% static 'polls/images/head.jpg' %}" type="image/icon type">
	</head>
	<style>
		body{
			background:url("{% static 'polls/images/sunset.jpg' %}") no-repeat center center fixed;
			-webkit-background-size:cover;
			-moz-backgroung-size:cover;
			-o-background-size: cover;
			background-size: cover;
		}
	</style>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/mainpage">Today's Headlines</a></h1>
						<nav class="links">
							<ul>
								<li><a href="#">Latest</a></li>
								<li><a href="#">Trending</a></li>
								<li><a href="#">Selected</a></li>
								<li><a href="#">Popular</a></li>
								<li><a href="#">New</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="#">
											<h3>Fitness</h3>
											<p>Look at the things which you are lacking in your routine.</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Earn money</h3>
											<p>Want to get rich in 1 month.</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Stocks</h3>
											<p>Get the latest stocks.</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Weather</h3>
											<p>Stay up to date with our daily feed.</p>
										</a>
									</li>
								</ul>
							</section>
						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="{% url 'login' %}" class="button large fit">Logout</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">HOW EVERYDAY TOOLS CAN HELP YOU LOSE WEIGHT</a></h2>
										<p>Fill up with fruit, veggies, and fiber</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">July 8, 2020</time>
										<a href="#" class="author"><span class="name">Dhruv</span><img src="{% static 'polls/images/user.jpg' %}" alt="" /></a>
									</div>
								</header>
								<span class="image featured"><img src="{% static 'polls/images/runs.gif' %}" alt="" /></span>
								<p><b><u>Fill up with fruit, veggies, and fiber</u></b></p>
								--><b>Even if you’re cutting calories</b>, that doesn’t necessarily mean you have to eat less food. High-fiber foods such as fruit, vegetables, beans, and whole grains are higher in volume and take longer to digest, making them filling—and great for weight-loss.<br><br>

								--><b>It’s generally okay to eat as much fresh fruit</b> and non-starchy vegetables as you want—you’ll feel full before you’ve overdone it on the calories.<br><br>

								--><b>Eat vegetables raw or steamed, not fried or breaded</b>, and dress them with herbs and spices or a little olive oil for flavor.<br><br>

								--><b>Add fruit to </b>low sugar cereal—blueberries, strawberries, sliced bananas. You’ll still enjoy lots of sweetness, but with fewer calories, less sugar, and more fiber.<br><br>

								--><b>Bulk out sandwiches by adding healthy veggie</b> choices like lettuce, tomatoes, sprouts, cucumbers, and avocado.<br><br>

								--><b>Snack on carrots or celery</b> with hummus instead of a high-calorie chips and dip.<br><br>

								--><b>Add more veggies to your favorite main courses</b> to make your dish more substantial. Even pasta and stir-fries can be diet-friendly if you use less noodles and more vegetables.<br><br>

								--><b>Start your meal with salad or vegetable soup</b> to help fill you up so you eat less of your entrée.<br><br>

								--><b>Take charge of your food environment</b>,
								Set yourself up for weight-loss success by taking charge of your food environment: when you eat, how much you eat, and what foods you make easily available.<br><br>

								--><b>Cook your own meals at home.</b> This allows you to control both portion size and what goes in to the food. Restaurant and packaged foods generally contain a lot more sugar, unhealthy fat, and calories than food cooked at home—plus the portion sizes tend to be larger.<br><br>

								--><b>Serve yourself smaller portions.</b> Use small plates, bowls, and cups to make your portions appear larger. Don’t eat out of large bowls or directly from food containers, which makes it difficult to assess how much you’ve eaten.<br><br>

								--><b>Eat early.</b> Studies suggest that consuming more of your daily calories at breakfast and fewer at dinner can help you drop more pounds. Eating a larger, healthy breakfast can jump-start your metabolism, stop you feeling hungry during the day, and give you more time to burn off the calories.<br><br>

								--><b>Fast for 14 hours a day.</b> Try to eat dinner earlier in the day and then fast until breakfast the next morning. Eating only when you’re most active and giving your digestion a long break may aid weight loss.<br><br>

								--><b>Plan your meals and snacks ahead of time.</b> You can create your own small portion snacks in plastic bags or containers. Eating on a schedule will help you avoid eating when you aren’t truly hungry.<br><br>

								--><b>Drink more water.</b> Thirst can often be confused with hunger, so by drinking water you can avoid extra calories.<br><br>

								--><b>Limit the amount of tempting foods you have at home.</b> If you share a kitchen with non-dieters, store indulgent foods out of sight.<br></p>
								<footer>
									<ul class="stats">
										<li><a href="#" class="icon solid fa-heart"><b>433</b></a></li>
										<li><a href="#" class="icon solid fa-comment"><b>49</b></a></li>
										<li><a href="#"><b>Report</b></a></li>
									</ul>
								</footer>
							</article>

					</div>

				<!-- Footer -->
					<section id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright"><b>&copy; Untitled. Design by Tejas and Dhruv: <a href="#">Today's Headlines</a>. Images: <a href="#">Google</a>.</b></p>
					</section>

			</div>

		<!-- Scripts -->
			<script src="{% static 'polls/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'polls/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'polls/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'polls/assets/js/util.js' %}"></script>
			<script src="{% static 'polls/assets/js/main.js' %}"></script>

	</body>
</html>